/* common styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin: 80px auto;
}
.btn{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    color: white;
    background-color: #E02C6D;
    border: none;
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
.navbar h4{
    font-size: 24px;
    font-weight: bold;
}
.nav-items {
    display: flex;
    gap: 30px;
}
.nav-items li{
    list-style: none;
    font-weight: 500;
    color: rgba(58, 58, 58, 1);
}
/* banner section  */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
}

.banner h2{
    font-size: 50px;
    font-weight: bold;
}
.banner p{
    color: #3A3A3A;
    font-weight: 500;
    margin: 15px 0px;
}
.banner-img{
    display: flex;
    width: 475px;
    height: 475px;
}
.banner-img img{
    width: 100%;
}
.banner-bg-img{
    transform: translateX(-490px);
}
#banner-main-img{
    z-index: 1;
}